rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /matches/{matchId} {
      // Izinkan baca hanya untuk user yang terautentikasi (login)
      allow read: if request.auth != null;
      
      // Tulis/Edit hanya diizinkan dari backend/Admin SDK (client tidak boleh menulis langsung)
      allow write: if false;
    }
  }
}
